<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Home Page</title>
		
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
		<nav th:replace="fragments/fragment :: navbar"></nav>
		<a th:each="jabatan : ${jabatan}" th:text="${jabatan.nama}"></a>
		<div class="container-fluid">
	        <h2>Sistem Informasi Kepegawaian</h2>
	        <br>
	        <h3>Selamat datang di Sistem Informasi Kepegawaian</h3>
	        <div class="row">
	            <div class="col-md-6">
	                <div class="card">
	                    <div class="card-header">
	                        <h4>Lihat Data Pegawai berdasarkan NIP</h4>
	                    </div>
	                    <form th:action="@{/pegawai}" method="GET">
	                        <div class="card-body">
	                            <label for="nip">Masukkan Nomor Induk Pegawai</label>
	                            <input type="text" name="nip" class="form-control" />
	                            <br>
	                            <button type="submit" class="btn btn-primary">Lihat</button>
	                        </div>
	                    </form>
	                    <br>
	                    
	                    <div class="card-header">
	                        <h4>Lihat Detail Jabatan</h4>
	                    </div>
	                    <div class="card-body">
	                    	<label for="nip">Pilih Jabatan</label>
		                    <form th:action="@{/jabatan/view}" method="GET">
		                    	<select th:name="id">
		                    		<option disabled selected> -- Pilih Jabatan -- </option>
		                    		<option th:each="list : ${listJabatan} "
		                    			th:text="${list.nama}" th:value="${list.id}">
		                    		</option>
		                    	</select>
		                    	<br><br>
		                    	<button class="btn btn-success" type="submit">Lihat</button>
		                    </form>
		            	</div>
		            	<br>
		            	
		            	<div class="card-header">
	                        <h4>Lihat Pegawai Termuda dan Tertua</h4>
	                    </div>
	                    <div class="card-body">
	                    	<label for="nip">Pilih Instansi</label>
		                    <form th:action="@{/pegawai/termuda-tertua}" method="GET">
		                    	<select th:name="idInstansi">
		                    		<option disabled selected> -- Pilih Instansi -- </option>
		                    		<option th:each="list : ${listInstansi} "
		                    			th:text="${list.nama} + ' - ' + ${list.provinsi.nama}" th:value="${list.id}">
		                    		</option>
		                    	</select>
		                    	<br><br>
		                    	<button class="btn btn-info" type="submit">Lihat</button>
		                    </form>
		            	</div>
	                </div>
	            </div>
	        </div>
    	</div>
	</body>
</html>
